svg{
    float: right;
    margin-left: 10px;
}
.photo{
    width: 300px;
    height: 300px;
}
.headder{
    background-color: rgb(9, 150, 150);
}
#about-me{
    background-color: white;
    margin-right: 80px;
}
#photo-container{
    padding-left: 30px;

}
h1{
    padding-top: 80px;
    padding-bottom: 30px;
}
h2{
    padding-top: 30px;
}
h5{
    padding-top: 20px;
}
#footer{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    
}
#footer1{
    float: left;
   margin-top: 5px;
   margin-right: 15px;
   color: white;
}
footer{
    background-color: rgb(9, 150, 150);
    color: white;
}
h6{
    color:white;
    
}
